body {
	margin: 0;
}
header {
	background-color: #000;
	color: #fff;
	display: flex;
	align-items: center;    /*元素在交叉轴上的对齐方式*/
	padding: 10px;          /*元素内容与元素边框的距离*/
}
header h1 {
	margin: 0;
	flex: 1;
}
.toggle-btn {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 10px;
	cursor: pointer;
}
.sidebar {
	position: fixed;
	top: 0;
	left: -200px;
	width: 200px;
	height: 100%;
	background-color: #333;
	color: #fff;
	transition: all 0.3s ease-in-out;
}
.sidebar ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.sidebar li {
	padding: 10px;
}
.sidebar li a {
	color: #fff;
	text-decoration: none;
}
.sidebar.visible {
	left: 0;
}
.main-content {
	margin-left: 200px;
	padding: 20px;
}



